html,
body {
  margin: 0;
  height: 100%;
}

#root {
  min-height: 100vh;
  min-width: 100vw;
  padding: 0;
  margin: 0;
}

a {
  color: #ffff;
  text-decoration: none;
}

/*signup/login starts here */

#signlogform > p {
  font-size: large;
}

#signlogform > p > a {
  margin-left: 10px;
}

#signlogcontainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right bottom,
    #d00000,
    #a70038,
    #6b0c45,
    #301834,
    #0a0a0a
  );
}

#signlogcontainer > h1 {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffff;
  font-size: 80px;
}

#signlogform {
  display: flex;
  flex-direction: column;
  background-color: #1f1f1f;
  height: 600px;
  width: 750px;
  border-radius: 20px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.signloginputlabel {
  font-size: 40px;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffff;
  text-align: center;
}

#signlogform > input,
#signlogform div,
#signlogform > button {
  margin-top: 3%;
  margin-bottom: 3%;
}

#signlogform > input {
  width: 50%;
  height: 10%;
  border-radius: 10px;
}
#signlogform > button {
  width: 25%;
  height: 10%;
  border-radius: 10px;
  background-image: linear-gradient(
    to right bottom,
    #d00000,
    #a70038,
    #6b0c45,
    #301834,
    #0a0a0a
  );
  color: #ffff;
  font-size: 20px;
  transition: 0.4s ease-in-out;
}

#signlogform > button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#signlogform > input {
  font-size: x-large;
}

#signlogerror {
  color: red;
  margin: 0 auto;
}

/*Home container/messages starts here*/


#homecontainer {
  display: flex;
  min-height: 100vh;
  background-color: #1f1f1f;
  color: #ffff;
}
#serverbarcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 7%;
  background-color: #0a0a0a;
  border-right: 2px solid black;
}

#serverbarcontainer > button {
  height: 75px;
  width: 100px;
  border-radius: 10px;
  color: white;
  font-size: larger;
  margin-bottom: 10px;
  background-image: linear-gradient(
    to right bottom,
    #d00000,
    #a70038,
    #6b0c45,
    #301834,
    #0a0a0a
  );
  transition: all 0.2s ease-in-out;
}

#serverbarcontainer > button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#serverbar {
  display: flex;
  flex-direction: column;
  height: 83.5%;
  align-items: center;
  overflow-y: scroll;
}

#serverbar::-webkit-scrollbar {
  display: none;
}

#serverbar > div {
  display: flex;
  background-image: linear-gradient(
    to right bottom,
    #d00000,
    #a70038,
    #6b0c45,
    #301834,
    #0a0a0a
  );
  border-radius: 50%;
  width: 80px;
  min-height: 80px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  transition: all 0.2s ease-in-out;
}

#serverbar > div:hover {
  transform: scale(1.2);
  cursor: pointer;
}

#directmessagescontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 15%;
  background-color: #141414;
  border-right: 2px solid #0a0a0a;
}

#directmessages {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85%;
  width: 100%;

  overflow-y: scroll;
}

#directmessages::-webkit-scrollbar {
  display: none;
}
#addmessagecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  min-height: 15%;
  width: 100%;
  background-color: #141414;
  border-right: 2px solid #0a0a0a;
}
#addmessagecontainer > button {
  height: 70px;
  width: 100px;
  border-radius: 10px;
  color: white;
  font-size: larger;
  margin-bottom: 10px;
  background-image: linear-gradient(
    to right bottom,
    #d00000,
    #a70038,
    #6b0c45,
    #301834,
    #0a0a0a
  );
  transition: all 0.2s ease-in-out;
}

#addmessagecontainer > button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.dmusernames {
  font-size: xx-large;
  margin-top: 10px;
  width: 100%;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}
.dmusernames:hover {
  background-color: #1f1f1f;
  transform: scale(1.1);
  border: black solid 1px;
  border-radius: 5px;
}

#directmessage {
  display: flex;
  width: 78%;
  flex-direction: column;
  word-wrap: break-word;
}
#individualmessage {
  display: flex;
  flex-direction: column;
  width: 90%;
  width: 100%;
  height: 70vh;
  overflow-y: scroll;
}
#individualmessage::-webkit-scrollbar {
  display: none;
}

.individualmessage {
  margin: 20px;
  font-size: xx-large;
}
.directusername {
  display: flex;
  justify-content: end;
  margin: 20px;
  font-size: larger;
}
.otheruser.directmessage {
  background-color: #1f1f1f;
}

.otheruser.directmessage > .directusername > div {
  margin-right: 10%;
}

.directmessage {
  background-color: #393938;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 10px;
}
.nothingopened {
  text-align: center;
  margin-top: 2%;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#sendmessagebar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid black;
  height: 25%;
}
#messagetext {
  width: 65%;
  height: 60%;
  border-radius: 10px;
  margin-left: 4%;
  resize: none;
  background-color: #393938;
  color: white;
  font-size: xx-large;
}
#messagesendbutton {
  margin-left: 2%;
  margin-top: 8%;
  width: 125px;
  height: 75px;
  border-radius: 20px;
  background-image: linear-gradient(
    to right bottom,
    #d00000,
    #a70038,
    #6b0c45,
    #301834,
    #0a0a0a
  );
  color: #ffff;
  font-size: larger;
  transition: all 0.2s ease-in-out;
}
#messagesendbutton:hover {
  transform: scale(1.1);
}

.deletemessagebutton {
  margin-left: 5%;
  width: 80px;
  border-radius: 10px;
  background-color: #bbb8b2;
}
.deletemessagebutton:hover {
  cursor: pointer;
  background-color: #d00000;
}
#closethreadbutton {
  margin-left: 2%;
  margin-top: 8%;
  width: 10%;
  height: 25%;
  border-radius: 20px;
  background-image: linear-gradient(
    to right bottom,
    #d00000,
    #a70038,
    #6b0c45,
    #301834,
    #0a0a0a
  );
  color: #ffff;
  font-size: larger;
  transition: all 0.2s ease-in-out;
}
#closethreadbutton:hover {
  transform: scale(1.1);
}
/*newmessagepage starts*/
#newmessagecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #1f1f1f;
  color: #ffff;
}

#usernameinput {
  background-color: #bbb8b2;
  width: 60%;
  height: 60px;
  color: black;
  margin-top: 10%;
  border-radius: 20px;
  font-size: xx-large;
}
#filteredusers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}
#filteredusers > div {
  font-size: xx-large;
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  height: 60px;
  background-color: #bbb8b2;
  color: black;
}

#messagesendbox {
  display: flex;
  flex-direction: column;
  margin-top: 15%;
  height: 34vh;
  width: 100%;
  border-top: 2px solid black;
  align-items: center;
  justify-content: center;
}

#messagesendbox > textarea {
  width: 60%;
  height: 60%;
  background-color: #bbb8b2;
  border-radius: 20px;
  font-size: xx-large;
}
#messagesendbox > h1 {
  width: 60%;
}
#messagesendbox > button {
  width: 125px;
  height: 75px;
  border-radius: 20px;
  margin-left: 70%;
  background-image: linear-gradient(
    to right bottom,
    #d00000,
    #a70038,
    #6b0c45,
    #301834,
    #0a0a0a
  );
  color: white;
  font-size: x-large;
  transition: all 0.2s ease-in-out;
}

#messagesendbox > button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/*channel specific styles*/

.selectedserver {
  border: 10px solid #bbb8b269;
}

.channelnames {
  font-size: xx-large;
  margin-top: 10px;
  width: 100%;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}
.channelnames:hover {
  background-color: #1f1f1f;
  transform: scale(1.1);
  border: black solid 1px;
  border-radius: 5px;
}

#newchannelbox {
  display: flex;
  position: absolute;
  background-color: #bbb8b2;
  align-items: center;
  justify-content: center;
  height: 130px;
  width: 600px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  top: 50%;
  left: 45%;
}
#newchannelbox > button {
  height: 40%;
  width: 20%;
  margin-left: 4%;
  background-image: linear-gradient(
    to right bottom,
    #d00000,
    #a70038,
    #6b0c45,
    #301834,
    #0a0a0a
  );
  border-radius: 5px;
  color: white;
  font-size: larger;
}
#newchannelbox > input {
  height: 40%;
  width: 40%;
  border-radius: 5px;
}

#channelsettingsbox {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 300px;
  background-color: #bbb8b2;
  color: #0a0a0a;
  top: 20%;
  left: 23%;
  align-items: center;
  border-radius: 10px;
}
#channelsettingsbox > div {
  display: flex;
}
#channelsettingsbox > div > button {
  height: 50px;
  width: 100px;
  margin-left: 4%;
  background-image: linear-gradient(
    to right bottom,
    #d00000,
    #a70038,
    #6b0c45,
    #301834,
    #0a0a0a
  );
  border-radius: 5px;
  color: white;
  font-size: larger;
  transition: all ease-in-out 0.2s;
}
#channelsettingsbox > div > button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
#channelsettingsbox > button {
  margin-top: 8px;
  background-color: #0a0a0a;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
#channelsettingsbox > button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

#servername {
  text-align: center;
  margin-bottom: 0;
}
#newserverbox {
  display: flex;
  position: absolute;
  background-color: #bbb8b2;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 400px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  top: 50%;
  left: 45%;
}
#newserverbox > button {
  height: 40%;
  width: 20%;
  margin-left: 4%;
  background-image: linear-gradient(
    to right bottom,
    #d00000,
    #a70038,
    #6b0c45,
    #301834,
    #0a0a0a
  );
  border-radius: 5px;
  color: white;
  font-size: larger;
}
#newserverbox > input {
  height: 40%;
  border-radius: 5px;
}
.beingdeleted {
  color: rgba(0, 0, 0, 0.281);
}

/*video css*/
.uservideo > div {
  height: 90%;
  width: 90%;
  border: 20px solid #bbb8b2;
  border-radius: 10px;
}
.uservideo {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 250px;
  align-items: center;
  justify-content: center;
  color: white;
}

#videoroom {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background-color: #1f1f1f;
}
#usersvideos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
  column-gap: 50px;
  row-gap: 50px;
}

.muted {
  background-color: #d00000;
}

#stream-controls {
  position: sticky;
  top: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  margin-top: 20px;
}

#stream-controls > button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffff;
  color: #000000;
  height: 60px;
  width: 120px;
  margin: 10px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

#stream-controls > button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#stream-controls > button.muted {
  background-color: #d00000;
}

#channelsrender {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 100%;

  overflow-y: scroll;
}
#channelsrender::-webkit-scrollbar {
  display: none;
}

#voicechannelrender {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25%;
  width: 100%;

  overflow-y: scroll;
}

#voicechannelrender::-webkit-scrollbar {
  display: none;
}
#channelname {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/*join server page*/
#joinservercontainer {
  display: flex;
  background-color: #393938;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#joinservercontainer > input {
  height: 30px;
  width: 800px;
}
#joinservercontainer > button {
  height: 40px;
  width: 60px;
  margin-left: 10px;
  border-radius: 5px;
  color: white;
  background-image: linear-gradient(
    to right bottom,
    #d00000,
    #a70038,
    #6b0c45,
    #301834,
    #0a0a0a
  );
  font-size: larger;
  transition: all 0.2s ease-in-out;
}
#joinservercontainer > button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
#editmembersbutton {
  position: absolute;
  left: 90%;
  top: 1%;
  height: 30px;
  width: 120px;
  border-radius: 5px;
  background-image: linear-gradient(
    to right bottom,
    #d00000,
    #a70038,
    #6b0c45,
    #301834,
    #0a0a0a
  );
  color: white;
  font-weight: bolder;
}
#editmembersbutton:hover {
  cursor: pointer;
}
#memberscontainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 90%;
  top: 1%;
  height: 600px;
  width: 150px;
  background-color: #141414;
  border: 1px solid black;
  border-radius: 5px;
}
#members {
  height: 80%;
  width: 100%;
  overflow-y: scroll;
}
#members::-webkit-scrollbar {
  display: none;
}

#members > div {
  width: 100%;
  text-align: center;
  min-height: 5%;
  margin-top: 5%;
  transition: all 0.2s ease-in-out;
}

#members > div:hover {
  transform: scale(1.1);
  background-color: #bbb8b2;
}
#members > div > p {
  margin: 0;
}

#memberscontainer > button {
  background-image: linear-gradient(
    to right bottom,
    #d00000,
    #a70038,
    #6b0c45,
    #301834,
    #0a0a0a
  );
  color: white;
  border-radius: 5px;
}
#memberscontainer > button:hover {
  cursor: pointer;
}
.kickuserbutton {
  background-color: #d00000;
  margin: 0 auto;
  height: 90%;
  width: 30%;
  color: white;
  font-weight: bolder;
}
.kickuserbutton:hover {
  cursor: pointer;
}

@media screen and (max-width: 1500px) {
  #editmembersbutton {
    left: 80%;
  }
  #memberscontainer {
    left: 80%
  }
  #serverbarcontainer > button {
    width: 75px;
  }
  #directmessages {

    height: 80.75%;
  }
}